<h1>Especialistas en:</h1>
<p>Soluciones Telco Efectivas</p>
<section class="lineas-negocio">
<div class="linea">
<h2>Planeación y Diseño</h2>
<ul>
    <li>Arquitectura de red</li>
    <li>Planeación de red</li>
    <li>Dimensionamiento de interfaces</li>
    <li>Análisis de tráfico</li>
    <li>Diseño indoor/outdoor</li>
    <li>Predicciones de cobertura</li>
    <li>Simulaciones de capacidad</li>
    <li>Análisis de espectro</li>
</ul>
</div>

<div class="linea">
<h2>Despliegue de Red</h2>
<ul>
    <li>Búsqueda de sitios</li>
    <li>Negociación de predios</li>
    <li>Site survey</li>
    <li>Instalación de equipos</li>
    <li>Comisionamiento</li>
    <li>Pruebas de validación</li>
    <li>Gerencia de proyectos</li>
    <li>Seguimiento a aceptación</li>
    <li>Interventoría de instalación</li>
    
</ul>
</div>

<div class="linea">
<h2>Mejora del Desempeño</h2>
<ul>
    <li>Initial tunning</li>
    <li>Optimización de red</li>
    <li>Benchmarking</li>
    <li>Drive / Walk test</li>
    <li>Correlación KPI / Parámetros</li>
    <li>Planes de mejora</li>
    <li>Lista de ofensores / Alarmas / VIP</li>
    <li>Outsourcing de ingeniería</li>
    <li>Cambios físicos</li>
</ul>
</div>

<div class="linea">
<h2>Consultoría y Auditoría de Red</h2>
<ul>
    <li>Auditoría de red y procesos</li>
    <li>Análisis de rendimiento</li>
    <li>Auditoría física y lógica</li>
    <li>Análisis de capacidad</li>
    <li>Evaluación tecnológica</li>
    <li>Consultores en sitio / remotos</li>
    <li>Análisis de interferencias</li>
    <li>Reportes especializados</li>
    <li>Pruebas de funcionalidades</li>
    <li>Entrenamiento</li>
    
</ul>
</div>
</section>

<img
            src="../../../assets/indoor.png"
            class="card-img-top"
            alt="web Indoor"
          />


<!--Componente Portafolio-->
<section id="proyectos" style="background: linear-gradient(to bottom, #141e30, #243b55);" class="mt-5">
    <div class="container-lg">
      <div data-aos="fade-up" class="row justify-content-center align-items-center mt-md-5">
        <div class="col-md-5 col-9 text-md-center text-center mt-5 display-6 fw-bold text-white">
          Proyectos Destacados
        </div>
        <div class="col-md-8 px-5 col-9 text-md-center text-center mt-4 text-white">
          Una pequeña muestra de el alcance que hemos logrado como equipo!
        </div>
      </div>


  
      <div class="row my-3 align-items-center justify-content-center g-3">
        <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
          <div class="card shadow-lg">
            <img src="../../../assets/Movistar Arena.jpg" class="card-img-top" alt="web optimization">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" target="_blank">
                  Movistar Arena
                </a>
              </h4>
              <p class="card-subtitle text-muted mt-1 fst-italic">
                <i class="bi bi-card-text"></i>
                Marketing & Design
              </p>
              <p class="card-text text-dark">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ullam eos quidem molestias delectus necessitatibus!
              </p>
              <div class="text-center">
                <a href="#casestudy1" class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none">
                    Leer más
                </a>
              </div>
            </div>
          </div>
        </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="../../../assets/serrezuela.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                CC La Serrezuela
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ullam eos quidem molestias delectus necessitatibus!
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none"
              >
              Leer más
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="../../../assets/TorreAtrio.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                Torre Atrio
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ullam eos quidem molestias delectus necessitatibus!
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none"
              >
              Leer más
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="../../../assets/Hotel Hyatt.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                Hotel Hyatt
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ullam eos quidem molestias delectus necessitatibus!
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none"
              >
              Leer más
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="../../../assets/VilladelRio.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                CC Villa de Río
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ullam eos quidem molestias delectus necessitatibus!
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none"
              >
              Leer más
              </a>
            </div>
          </div>
        </div>
      </div>

      <div data-aos="fade-up" class="col-9 col-md-7 col-xl-4">
        <div style="border-radius: 25px;" class="card shadow-lg">
          <img
            src="../../../assets/CC el Eden.jpg"
            class="card-img-top"
            alt="web optimization"
          />
          <div class="card-body py-4">
            <h4 class="card-title">
              <a
                style="
                  text-decoration: underline;
                  color: black;
                  font-weight: bold;
                "
                href="#"
                target="_blank"
              >
                CC El Edén
              </a>
            </h4>
            <p class="card-subtitle text-muted mt-1 fst-italic">
              <i class="bi bi-card-text"></i>
              Marketing & Design
            </p>
            <p class="card-text mt-4 mt-sm-4 text-dark">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ullam eos quidem molestias delectus necessitatibus!
            </p>
            <div class="mt-4 text-center">
              <a
                href="#casestudy1"
                class="grow rounded-pill btn btn-primary text-dark fw-bold btn-md text-decoration-none"
              >
                Leer más
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Componente Contacto -->
<section id="contact" class="bg-light">
    <div class="container-lg">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-xl-6 text-center px-3">
          <div data-aos="fade-right" class="row justify-content-center align-items-center mt-md-5">
            <h2>Contáctanos</h2>
          </div>
  
          <div data-aos="fade-right" style="border-radius: 25px;" class="col-12 bg-white my-4 shadow-lg">
            <div class="row justify-content-center align-items-center p-4">
              <form id="contact-form">
                <div class="col-md-6 col-12 mt-4 form-floating">
                  <input
                    style="border-radius: 25px;"
                    type="text"
                    name="name"
                    id="name"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Nombre Completo"
                  />
                  <label for="name">Nombre Completo</label>
                </div>
                <div class="col-md-6 col-12 mt-4 form-floating">
                  <input
                    style="border-radius: 25px;"
                    type="email"
                    name="email"
                    id="email"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Correo Electrónico"
                  />
                  <label for="email">Correo Electrónico</label>
                </div>
                <div class="col-10 mt-4 form-floating">
                  <input
                    style="border-radius: 20px;"
                    type="text"
                    name="subject"
                    id="subject"
                    class="form-control border-1 pt-4 text-dark"
                    placeholder="Asunto..."
                  />
                  <label for="subject">Asunto...</label>
                </div>
                <div class="col-10 mt-4 form-floating">
                  <textarea
                    class="form-control border-1 text-dark"
                    id="query"
                    style="height: 140px; border-radius: 25px;"
                    placeholder="Mensaje..."
                  ></textarea>
                  <label for="query">Mensaje...</label>
                </div>
                <div class="col-12 mt-4 text-center mb-3">
                  <button
                    type="submit"
                    class="btn btn-primary text-light btn-lg fw-bold"
                  >
                    Enviar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!--Componente Footer-->
  <section
style="background: linear-gradient(to bottom, #243b55, #141e30);"
class="py-3"
>
<div class="container-lg">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-12 text-lg-start text-center">
      <p class="cursor text-white">
        Copyright © 2023 |
        <span class="fw-bold" style="color: #02c09acc;">
          TEAMCO CONSULTING SAS
        </span>
      </p>
    </div>
    </div>
  </div>

</section>





  
