.navbar {
    background-color: transparent !important;
    transition-duration: 2s;

}
nav.nav--hidden {
   transform: translateY(-100%);
  }
  .cambiocolor{
      background-color: transparent !important;
  }
  

  .hdr {
    padding:20px;
    background-color: rgba(0, 106, 255, 0.774) !important;
    transform: translateY(0px);
  }
  
  .hdrScroll {
    padding:20px;
   
    transform: translateY(-100%);
  }